In [12]:
import json
import pandas as pd
path = "/Users/acabrera/dev/data/coco-2014/annotations/instances_val2014.json"
anns = json.load(open(path))

dict_keys(['info', 'images', 'licenses', 'annotations', 'categories'])

In [53]:
df_annot = pd.DataFrame(anns["annotations"])
df_annot = df_annot.drop("id", axis=1)
df_annot["id"] = df_annot["image_id"]
df_annot = df_annot.drop("image_id", axis=1)

In [54]:
df_ids = pd.DataFrame(anns["images"])

In [55]:
df_annot.head()

,segmentation,area,iscrowd,bbox,category_id,id
0,"[[239.97, 260.24, 222.04, 270.49, 199.84, 253....",2765.14865,0,"[199.84, 200.46, 77.71, 70.88]",58,558840
1,"[[247.71, 354.7, 253.49, 346.99, 276.63, 337.3...",1545.42130,0,"[234.22, 317.11, 149.39, 38.55]",58,200365
2,"[[274.58, 405.68, 298.32, 405.68, 302.45, 402....",5607.66135,0,"[239.48, 347.87, 160.0, 57.81]",58,200365
3,"[[296.65, 388.33, 296.65, 388.33, 297.68, 388....",0.00000,0,"[296.65, 388.33, 1.03, 0.0]",58,200365
4,"[[251.87, 356.13, 260.13, 343.74, 300.39, 335....",800.41325,0,"[251.87, 333.42, 125.94, 22.71]",58,200365

In [56]:
df_ids.head()

,license,file_name,coco_url,height,width,date_captured,flickr_url,id
0,3,COCO_val2014_000000391895.jpg,http://images.cocodataset.org/val2014/COCO_val...,360,640,2013-11-14 11:18:45,http://farm9.staticflickr.com/8186/8119368305_...,391895
1,4,COCO_val2014_000000522418.jpg,http://images.cocodataset.org/val2014/COCO_val...,480,640,2013-11-14 11:38:44,http://farm1.staticflickr.com/1/127244861_ab0c...,522418
2,3,COCO_val2014_000000184613.jpg,http://images.cocodataset.org/val2014/COCO_val...,336,500,2013-11-14 12:36:29,http://farm3.staticflickr.com/2169/2118578392_...,184613
3,3,COCO_val2014_000000318219.jpg,http://images.cocodataset.org/val2014/COCO_val...,640,556,2013-11-14 13:02:53,http://farm5.staticflickr.com/4125/5094763076_...,318219
4,3,COCO_val2014_000000554625.jpg,http://images.cocodataset.org/val2014/COCO_val...,640,426,2013-11-14 16:03:19,http://farm5.staticflickr.com/4086/5094162993_...,554625

In [58]:
df_grouped = df_annot[["id", "area", "bbox", "category_id"]].groupby("id")

In [59]:
agg = df_grouped.agg(list)

In [60]:
print(agg.shape)
print(df_ids.shape)

(40137, 3)
(40504, 8)

In [62]:
joined = df_ids.join(agg, on="id")

In [68]:
joined.to_parquet('coco.parquet')

In [69]:
loaded = pd.read_parquet('coco.parquet')

In [70]:
loaded.head()

,license,file_name,coco_url,height,width,date_captured,flickr_url,id,area,bbox,category_id
0,3,COCO_val2014_000000391895.jpg,http://images.cocodataset.org/val2014/COCO_val...,360,640,2013-11-14 11:18:45,http://farm9.staticflickr.com/8186/8119368305_...,391895,"[12190.44565, 14107.271300000002, 708.26055000...","[[359.17, 146.17, 112.45, 213.57], [339.88, 22...","[4, 1, 1, 2]"
1,4,COCO_val2014_000000522418.jpg,http://images.cocodataset.org/val2014/COCO_val...,480,640,2013-11-14 11:38:44,http://farm1.staticflickr.com/1/127244861_ab0c...,522418,"[63325.421899999994, 4200.516899999997, 54409....","[[382.48, 0.0, 256.8, 474.31], [234.06, 406.61...","[1, 49, 61, 81]"
2,3,COCO_val2014_000000184613.jpg,http://images.cocodataset.org/val2014/COCO_val...,336,500,2013-11-14 12:36:29,http://farm3.staticflickr.com/2169/2118578392_...,184613,"[7142.43465, 6260.133750000001, 451.0984499999...","[[239.9, 111.16, 128.62, 99.71], [285.08, 85.9...","[21, 21, 21, 21, 21, 28, 21, 1, 1, 1, 1, 1, 1,..."
3,3,COCO_val2014_000000318219.jpg,http://images.cocodataset.org/val2014/COCO_val...,640,556,2013-11-14 13:02:53,http://farm5.staticflickr.com/4125/5094763076_...,318219,"[126863.98395, 46042.244250000025, 779.1443499...","[[40.65, 38.8, 418.38, 601.2], [0.0, 0.0, 198....","[1, 1, 74, 74, 76, 76, 74, 72, 72, 72, 74]"
4,3,COCO_val2014_000000554625.jpg,http://images.cocodataset.org/val2014/COCO_val...,640,426,2013-11-14 16:03:19,http://farm5.staticflickr.com/4086/5094162993_...,554625,"[7821.531700000001, 3031.9432499999984, 29506....","[[380.74, 112.85, 40.62, 248.82], [339.13, 32....","[72, 72, 1, 1, 1, 72, 74, 74, 76, 76, 76, 72, ..."